---
import { allActivite } from "../../../backend/backend.mjs";
const activites = await allActivite();
import Layout from "../../layouts/Layout.astro";
---

<Layout titre="programme_activites" nom="Programme des Activités">
  {
    activites.map((activite) => (
      <div>
        <h1>{activite.titre}</h1>
        <p>{activite.date}</p>
        <p>{activite.description}</p>
      </div>
    ))
  }
</Layout>
