---
import IconLettre from "../assets/icons/icone_lettre.svg";
import IconTelephone from "../assets/icons/icone_telephone.svg";
import LogoFacebook from "../assets/icons/facebook.svg";
import LogoInstagram from "../assets/icons/instagram.svg";
import LogoTiktok from "../assets/icons/tiktok.svg";

import Layout from "../layouts/Layout.astro";
import Paragraphe from "../components/Paragraphe.astro";
---

<Layout titre="contact" nom="Contact">
  <Paragraphe
    titre="Nous Sommes Là pour Vous"
    texte="Vous avez une question sur le festival, envie de rejoindre l’équipe, ou simplement besoin de plus d’informations ? Notre équipe est à votre disposition pour répondre à toutes vos interrogations. Que vous soyez un spectateur curieux, un professionnel du cinéma, ou un partenaire potentiel, n’hésitez pas à nous contacter."
  />
  <form
    class="flex flex-col w-full max-w-2xl mx-auto px-4 my-4"
    action="#"
    method="POST"
    enctype="multipart/form-data"
  >
    <span
      class="font-mulish mt-3 text-orange1 after:ml-0.5 after:text-vert after:content-['*']"
      >Nom</span
    >
    <input
      type="text"
      name="nom"
      placeholder="ex: Dupont"
      required
      class="p-2 border border-noir rounded-md text-orange1 font-mulish"
    />

    <span
      class="font-mulish mt-3 text-orange1 after:ml-0.5 after:text-vert after:content-['*']"
      >Prénom</span
    >
    <input
      type="text"
      name="prenom"
      placeholder="ex: Marc"
      required
      class="p-2 border border-noir rounded-md text-orange1 font-mulish"
    />

    <span
      class="font-mulish mt-3 text-orange1 after:ml-0.5 after:text-vert after:content-['*']"
      >Email</span
    >
    <input
      type="email"
      name="email"
      placeholder="ex: you@example.com"
      required
      class="p-2 border border-noir rounded-md text-orange1 font-mulish"
    />
    <span
      class="font-mulish mt-3 text-orange1 after:ml-0.5 after:text-vert after:content-['*']"
      >Message</span
    >
    <input
      type="text"
      name="message"
      placeholder="ex: Bonjour, je voulais savoir si..."
      required
      class="p-2 border border-noir rounded-md text-orange1 font-mulish"
    />
    <button
      class="bg-vert rounded mt-10 px-7 py-2 font-mulish uppercase text-blanc my-4"
      type="submit">Envoyer</button
    >
  </form>
  <Paragraphe titre="Coordonnées" texte="" />
  <div class="mx-6">
    <a class="flex text-noir gap-2" href="tel:03870078839"
      ><IconTelephone />03 70 07 88 39</a
    >
    <a
      class="flex my-5 mb-19 text-noir lowercase gap-2"
      href="mailto:festival.cinenature@agglo-belfort.fr"
      ><IconLettre />festival.cinenature@agglo-belfort.fr</a
    >
  </div>
  <Paragraphe titre="Réseaux Sociaux" texte="" />
  <div class="mx-6 lg:mx-10 mb-19 flex gap-5">
    <a href="https://facebook.com" aria-label="Visitez notre page facebook">
      <LogoFacebook />
    </a>
    <a href="https://instagram.com" aria-label="Visitez notre page instagram">
      <LogoInstagram />
    </a>
    <a href="https://tiktok.com" aria-label="Visitez notre page tiktok">
      <LogoTiktok />
    </a>
  </div>
</Layout>
