---
import Layout from "../layouts/Layout.astro";
import Paragraphe from "../components/Paragraphe.astro";
import Button from "../components/Button.astro";

import IconMaison from "../assets/icons/icone_maison.svg";
import IconPersonne from "../assets/icons/icone_personne.svg";
import IconVelo from "../assets/icons/icone_velo.svg";
import IconMap from "../assets/icons/icone_map.svg";
import ImgMap from "../assets/img/map.webp";
import { Image } from "astro:assets";
---

<Layout titre="infos_pratiques" nom="Infos Pratiques">
  <Paragraphe
    titre="Bien Préparer Votre Visite au Festival"
    texte="Que vous soyez un habitué ou un nouveau venu, il est essentiel d'organiser votre séjour au festival pour profiter pleinement de l'expérience. Voici toutes les informations nécessaires pour que votre venue se passe dans les meilleures conditions, depuis les options de restauration jusqu’aux possibilités d'hébergement, en passant par les transports pour accéder au site."
  />
  <Paragraphe
    titre="Nos Tarifs"
    texte="Découvrez nos formules accessibles à tous. Que vous veniez pour une journée ou pour toute la durée du festival, nos tarifs sont pensés pour encourager chacun à participer."
  />
  <Button ref="#" texte="Billetterie" />

  <div>
    <div class="flex justify-center"><IconMaison /></div>
    <Paragraphe
      titre="Hébergement : Dormir à Proximité du Festival"
      texte="Que vous préfériez le confort d’un hôtel ou l’immersion totale en nature, plusieurs solutions s’offrent à vous pour loger à proximité de la presqu'île du Malsaucy :"
    />

    <div class="mx-6 mt-7 lg:mx-10">
      <div class="flex gap-2">
        <IconMaison />
        <h2 class="mt-2">Camping du Festival :</h2>
      </div>
      <p class="mx-12">
        Situé à deux pas du site, le camping officiel vous permet de rester au
        plus près des événements. Équipé de sanitaires et de douches, il est
        accessible pour une modique somme, et l’ambiance conviviale y est
        garantie. Réservez votre emplacement rapidement, car les places sont
        limitées !
      </p>

      <div class="flex mt-7 gap-2">
        <IconMaison />
        <h2 class="mt-2">Hébergements Partenaires :</h2>
      </div>
      <p class="mx-12">
        Plusieurs hôtels et chambres d’hôtes dans la région proposent des tarifs
        préférentiels pour les festivaliers.
      </p>

      <div class="flex mt-7 gap-2">
        <IconMaison />
        <h2 class="mt-2">Aires de Camping-Car :</h2>
      </div>
      <p class="mx-12 mb-12">
        Pour ceux qui voyagent en camping-car, des emplacements sont disponibles
        à proximité du festival. Veillez à réserver votre place à l'avance pour
        garantir votre accès.
      </p>
    </div>
  </div>

  <div>
    <div class="flex justify-center"><IconVelo /></div>
    <Paragraphe
      titre="Transport : Comment Venir au Festival"
      texte="Le festival se veut aussi écoresponsable dans la manière dont il encourage ses festivaliers à se déplacer. Voici les différentes options pour rejoindre la presqu'île du Malsaucy :"
    />

    <div class="mx-6 mt-7 lg:mx-10">
      <div class="flex gap-2">
        <IconVelo />
        <h2 class="mt-2">Covoiturage :</h2>
      </div>
      <p class="mx-12">
        Nous encourageons vivement le covoiturage pour réduire l’impact
        environnemental des déplacements. Rejoignez notre plateforme de
        covoiturage dédiée pour trouver ou proposer un trajet partagé.
      </p>

      <div class="flex mt-7 gap-2">
        <IconVelo />
        <h2 class="mt-2">Navettes Gratuites :</h2>
      </div>
      <p class="mx-12">
        Des navettes gratuites seront mises à disposition depuis la gare de
        Belfort et d'autres points stratégiques de la région pour faciliter
        l’accès au site. Les horaires et points de départ seront publiés
        quelques semaines avant l’événement.
      </p>

      <div class="flex mt-7 gap-2">
        <IconVelo />
        <h2 class="mt-2">Vélo :</h2>
      </div>
      <p class="mx-12 mb-12">
        Pour les plus sportifs, le festival propose des parkings à vélos
        sécurisés à l'entrée du site. Un réseau de pistes cyclables relie
        Belfort à la presqu'île, offrant une alternative douce et respectueuse
        de l’environnement.
      </p>

      <div class="flex mt-7 gap-2">
        <IconVelo />
        <h2 class="mt-2">Voiture Électrique :</h2>
      </div>
      <p class="mx-12 mb-12">
        Si vous venez en voiture électrique, des bornes de recharge seront
        disponibles sur certains parkings du festival. Nous vous invitons à
        consulter la carte des emplacements avant votre venue pour planifier
        votre trajet.
      </p>
    </div>
  </div>

  <div>
    <div class="flex justify-center"><IconPersonne /></div>
    <Paragraphe
      titre="Accessibilité"
      texte="Le festival met un point d'honneur à être accessible à tous. Voici quelques dispositifs en place pour faciliter votre venue :"
    />

    <div class="mx-6 mt-7 lg:mx-10">
      <div class="flex gap-2">
        <IconPersonne />
        <h2 class="mt-2">Accès aux Personnes à Mobilité Réduite (PMR) :</h2>
      </div>
      <p class="mx-12">
        Le site est équipé de rampes d'accès, et des emplacements spécifiques
        sont réservés pour les personnes à mobilité réduite.
      </p>

      <div class="flex mt-7 gap-2">
        <IconPersonne />
        <h2 class="mt-2">Sanitaires Adaptés :</h2>
      </div>
      <p class="mx-12">
        Des toilettes accessibles aux PMR seront disponibles sur le site et au
        camping.
      </p>

      <div class="flex mt-7 gap-2">
        <IconPersonne />
        <h2 class="mt-2">Accompagnement Spécial :</h2>
      </div>
      <p class="mx-12 mb-12">
        Si vous avez besoin d’un accompagnement spécifique, n’hésitez pas à nous
        contacter via notre page Contact, afin que nous puissions vous offrir
        l’assistance nécessaire.
      </p>
      <Button ref="/contact" texte="En savoir plus" />
    </div>
  </div>

  <div class="flex justify-center"><IconMap /></div>
  <Paragraphe
    titre="Localisation & Plan du Site"
    texte="Pour vous repérer facilement, un plan détaillé du site sera disponible à l'entrée du festival et téléchargeable en ligne prochainement."
  />
  <div class="flex justify-center">
    <Image
      src={ImgMap}
      alt="Plan du site"
      class="max-w lg:h-100 object-cover"
    />
  </div>

  <Paragraphe
    titre="FAQ"
    texte="Vous avez une question ? Retrouvez ici les réponses aux interrogations les plus courantes pour préparer votre visite à Cinénature."
  />
  <div class="mx-6 mb-5 lg:mx-10">
    <h3 class="text-orange1">Que puis-je apporter au festival ?</h3>
    <p>
      Vous êtes libres d’apporter votre plaid ou chaise pliante pour plus de
      confort lors des projections en plein air. Cependant, les bouteilles en
      plastique et contenants jetables ne sont pas autorisés afin de limiter les
      déchets.
    </p>
    <h3 class="text-vert mt-5">Y a-t-il des options de restauration ?</h3>
    <p>
      Oui, le festival propose plusieurs stands de restauration mettant en avant
      des produits locaux, bio et végétariens. Pensez à apporter vos propres
      contenants pour profiter des réductions zéro déchet !
    </p>
    <h3 class="text-orange1 mt-5">Que faire en cas de mauvais temps ?</h3>
    <p>
      Le festival aura lieu quelles que soient les conditions météo. Des espaces
      couverts seront disponibles pour les projections en cas de pluie.
    </p>
  </div>
  <Button ref="#" texte="En savoir plus" />
  <p class="mb-19 mx-6 lg:mx-10 font-mulish text-orange1">
    Nous avons hâte de vous accueillir pour cette édition du festival qui allie
    cinéma, écologie, et convivialité dans un cadre naturel exceptionnel !
  </p>
</Layout>
