---
import LogoInstagram from "../assets/icons/instagram.svg";
import LogoFacebook from "../assets/icons/facebook.svg";
import LogoTiktok from "../assets/icons/tiktok.svg";
import LogoFestival from "../assets/icons/logofestival.svg";
---

<footer
  class="grid text-xs bg-black pl-12 pt-5 pb-30 lg:grid-cols-4 font-playfair"
>
  <span><LogoFestival /></span>
  <div class="mt-14">
    <h3 class="text-blanc text-xs tracking-widest font-mulish uppercase">
      Menu
    </h3>
    <ul class="mt-4">
      <li><a class="text-orange1" href="#">Mentions légales</a></li>
      <li><a class="text-orange1" href="#">Archives</a></li>
      <li><a class="text-orange1" href="#">Contact & accès</a></li>
    </ul>
  </div>

  <div class="mt-14">
    <h3 class="text-blanc text-xs tracking-widest font-mulish uppercase">
      Contact
    </h3>
    <p class="mt-4 font-mulish text-xs text-orange1">90000 Belfort</p>
    <a class="text-orange1" href=" tel:03870078839">03 70 07 88 39</a><br />
    <a
      class="text-orange1 lowercase"
      href="mailto:festival.cinenature@agglo-belfort.fr"
      >festival.cinenature@agglo-belfort.fr</a
    >
  </div>

  <div class="mt-14">
    <h3 class="text-blanc text-xs tracking-widest font-mulish uppercase">
      Nous suivre
    </h3>
    <ul class="flex gap-5 mt-4">
      <a href="https://facebook.com" aria-label="Visitez notre page facebook">
        <LogoFacebook />
      </a>
      <a href="https://instagram.com" aria-label="Visitez notre page instagram">
        <LogoInstagram />
      </a>
      <a href="https://tiktok.com" aria-label="Visitez notre page tiktok">
        <LogoTiktok />
      </a>
    </ul>
  </div>
</footer>
