---
const { titre } = Astro.props;
const { texte } = Astro.props;
---

<div class="py-6 mx-6 lg:mx-10">
  <h2>{titre}</h2>
  <span class="block w-5 h-1 ml-4 my-4 bg-vert rounded"></span>
  <p>{texte}</p>
</div>
