---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Image } from "astro:assets";
import ImgHeader from "../assets/img/header1.webp";
import "../styles/global.css";
import "@fontsource/lato";
import "@fontsource/mulish";
import "@fontsource/playfair-display";

const { titre } = Astro.props;
const { nom } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{titre}</title>
  </head>
  <body>
    <Header />
    <div class="static">
      <Image
        class="w-full max-w h-136 object-cover"
        src={ImgHeader}
        alt="header"
      />
      <div
        class="absolute lg:text-4xl top-60 mx-10 "
      >
        <h1 class="lg:text-4xl">{nom}</h1>
      </div>
    </div>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
